$bgColors: #ffaaaa #aaffaa #aaaaff;
$fgColors: #ff0000 darkgreen #0000ff;


.output-settings {
  width: 100%;
  display: table;
  table-layout: fixed;

  .wrapper {
    display:table-row;
  }

  .format-chooser, .copy-button, .endian-toggle {
    display:table-cell;
  }
}

.edit-container {
  display: flex;

  .input-string {
    flex: 1;
  }

  .input-count {
    width: 50px;
    text-align: right;
  }
}

.row-buttons button {
  width: 100%;
}

.input-table {
  @for $i from 1 through length($fgColors) {
    .multi-colored:nth-child(#{length($fgColors)}n+#{$i}) {
      background-color: nth($bgColors, $i);

      button {
        background-color: nth($fgColors, $i);
      }
    }
  }
}


.err-msg {
  border-radius: 5px;
  background-color: #ffaaaa;
  border: 2px solid #f00;
  padding: 3px;
}

.byte-output {
  @for $i from 1 through length($fgColors) {
    .multi-colored:nth-child(#{length($fgColors)}n+#{$i}) {
      color: nth($fgColors, $i);
      background-color: nth($bgColors, $i);
    }
  }
}

.input-table {
  width: 100%;
  border-collapse:collapse;
}

.list-item-controls {
  display: block;
  width: 100%;


  .no-button, button {
    margin: 0px 5px;
    width: 50px;
    // flex: 1;
  }
}

button {
  color: white;
  background-color: gray;
  border: none;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  cursor: pointer;
}

.disabled-button {
  opacity: 0.4;
  cursor: not-allowed;
}


#input, .export-link, .byte-output {
  border-radius: 10px;
  border: 2px solid #777;
  background-color: #eee;
  text-align: center;
  padding: 10px;
  margin-top: 25px;
}

.export-link, .byte-output {
  button {
    margin-bottom: 5px;
  }

  span {
   overflow-wrap: break-word;
  }
}
