$row1l: #ffaaaa;
$row2l: #aaffaa;
$row3l: #aaaaff;
$row1d: #ff0000;
$row2d: darkgreen;
$row3d: #0000ff;

.app-root {
  align: center;
  text-align: center;
}

.input-count {
  width: 50px;
  text-align: right;
}

.list {//TODO call it table or something
  border-radius: 10px;
  border: 2px solid #777;
  background-color: #eee;
  text-align: center;
  align: center;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%
 }

.list li {
  align: center;
  list-style: none;
}

// .list td {
//   border: 2px solid #73AD21;
//   border-radius: 5px;
// }

//child indices are different here: since the header row is the first one
.list .multi-colored:nth-child(3n+0) {
    background-color: $row2l;
  }

.list .multi-colored:nth-child(3n+1) {
    background-color: $row3l;
  }

.list .multi-colored:nth-child(3n+2) {
    background-color: $row1l;
  }

/* .byteOutput  .multi-colored {
    border-bottom: 1px solid;
  } */

.err-msg {
  border-radius: 5px;
  background-color: #ffaaaa;
  border: 2px solid #f00;
  padding: 3px;
}

.byteOutput {
  .multi-colored:nth-child(3n+0) {
  color: $row3d;
  background-color: $row3l;
  }

  .multi-colored:nth-child(3n+1) {
  color: $row1d;
  background-color: $row1l;
  }

  .multi-colored:nth-child(3n+2) {
  color: $row2d;
  background-color: $row2l;
  }
}

.byteOutput {
  border-radius: 10px;
  border: 2px solid #777;
  background-color: #eee;
  text-align: center;
  padding: 5px;

  button {
    margin-bottom: 5px;
  }
 }

 .byteOutput span {
   overflow-wrap: break-word;
 }
